### $$ Analystes :\;\;\;\;\;\;\;\;\;\;\; Jeff \; Lwear \; DUVERSEAU \;et \;Lionel \;PETIOTE$$

# Project Tittle : ***$$\ \ $$***

# 1. Overview

## 1.1. Business Understanding

 ## 1.2. Objectifs

## 2. Importations

In [1]:
# Ici, sont importées les bibliothèques de base, les autres plus spécialisées seront importées tout au long du notebook.

# Manipulation
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Data Importation
df_serial = pd.read_csv("IDXDataset_gdc01.csv")
df1_serial = pd.read_csv("IDXDataset_gdc02.csv")
df2_serial = pd.read_csv("IDXDataset_gdc03.csv")
df3_serial = pd.read_csv("IDXDataset_wpc.csv")

In [3]:
df_serial.shape

(350000, 8)

In [4]:
df1_serial.shape

(350000, 8)

In [5]:
df2_serial.shape

(348575, 8)

In [6]:
df3_serial.shape

(318242, 7)

In [7]:
df_serial.columns

Index(['Unnamed: 0', 'SEQ', 'Trans_Calendar_Date', 'Local_Transaction_Time',
       'CD_TYPE', 'dollar_amt', 'CTR', 'CASE_ID'],
      dtype='object')

In [8]:
df1_serial.columns

Index(['Unnamed: 0', 'SEQ', 'Trans_Calendar_Date', 'Local_Transaction_Time',
       'CD_TYPE', 'dollar_amt', 'CTR', 'CASE_ID'],
      dtype='object')

In [9]:
df2_serial.columns

Index(['Unnamed: 0', 'SEQ', 'Trans_Calendar_Date', 'Local_Transaction_Time',
       'CD_TYPE', 'dollar_amt', 'CTR', 'CASE_ID'],
      dtype='object')

In [10]:
df3_serial.columns

Index(['SEQ', 'Trans_Calendar_Date', 'Local_Transaction_Time', 'CASE_ID',
       'WP_YN', 'CD_TYPE', 'dollar_amt'],
      dtype='object')

In [11]:
df_serial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350000 entries, 0 to 349999
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              350000 non-null  int64
 1   SEQ                     350000 non-null  int64
 2   Trans_Calendar_Date     350000 non-null  object
 3   Local_Transaction_Time  350000 non-null  object
 4   CD_TYPE                 350000 non-null  object
 5   dollar_amt              350000 non-null  float64
 6   CTR                     350000 non-null  int64
 7   CASE_ID                 350000 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 21.4+ MB

In [12]:
df_serial.head(50)

,Unnamed: 0,SEQ,Trans_Calendar_Date,Local_Transaction_Time,CD_TYPE,dollar_amt,CTR,CASE_ID
0,1,41,24-Mar-18,15:54:06,GDC,44.20,1,0
1,2,40,26-Mar-18,11:06:31,GDC,57.78,2,0
2,3,39,27-Mar-18,13:03:02,GDC,37.30,3,0
3,4,38,4-Apr-18,13:35:02,GDC,88.32,4,0
4,5,37,4-Apr-18,18:53:21,GDC,46.74,5,0
5,6,36,13-Apr-18,11:05:41,GDC,71.48,6,0
6,7,35,18-Apr-18,17:35:21,GDC,40.91,7,0
7,8,34,19-Apr-18,15:54:01,GDC,47.77,8,0
8,9,33,24-Apr-18,12:43:54,GDC,37.60,9,0
9,10,32,26-Apr-18,13:53:49,GDC,33.33,10,0
10,11,31,27-Apr-18,11:57:14,GDC,69.70,11,0
11,12,30,2-May-18,16:48:49,GDC,45.75,12,0
12,13,29,3-May-18,10:55:04,GDC,69.43,13,0
13,14,28,9-May-18,15:33:35,GDC,58.77,14,0
14,15,27,11-May-18,9:52:45,GDC,19.92,15,0
15,16,26,14-May-18,16:45:59,GDC,74.81,16,0
16,17,25,16-May-18,9:35:53,GDC,15.18,17,0
17,18,24,17-May-18,18:40:01,GDC,79.77,18,0
18,19,23,19-May-18,13:55:37,GDC,49.53,19,0
19,20,22,22-May-18,13:26:18,GDC,71.16,20,0
20,21,21,24-May-18,10:53:02,GDC,92.55,21,0
21,22,20,31-May-18,17:37:45,GDC,44.14,22,0
22,23,19,5-Jun-18,13:48:34,GDC,63.28,23,0
23,24,18,7-Jun-18,9:30:09,GDC,10.73,24,0
24,25,17,9-Jun-18,17:14:27,GDC,48.82,25,0
25,26,16,12-Jun-18,11:15:54,GDC,71.72,26,0
26,27,15,14-Jun-18,16:11:34,GDC,40.00,27,0
27,28,14,18-Jun-18,14:44:26,GDC,30.00,28,0
28,29,13,19-Jun-18,12:11:07,GDC,40.00,29,0
29,30,12,22-Jun-18,11:05:15,GDC,73.82,30,0
30,31,11,24-Jun-18,15:29:04,GDC,41.86,31,0
31,32,10,26-Jun-18,12:20:59,GDC,40.00,32,0
32,33,9,3-Jul-18,11:32:41,GDC,68.13,33,0
33,34,8,4-Jul-18,19:37:15,GDC,47.51,34,0
34,35,7,11-Jul-18,17:45:56,GDC,44.25,35,0
35,36,6,16-Jul-18,13:13:57,GDC,45.31,36,0
36,37,5,16-Jul-18,15:52:16,GDC,49.20,37,0
37,38,4,19-Jul-18,12:24:23,GDC,81.70,38,0
38,39,3,23-Jul-18,13:20:34,GDC,44.66,39,0
39,40,2,27-Jul-18,11:31:39,GDC,40.97,40,0
40,41,1,30-Jul-18,9:34:54,GDC,62.13,41,0
41,42,41,5-Oct-17,9:41:17,GDC,110.00,42,1
42,43,40,16-Oct-17,11:54:10,GDC,95.02,43,1
43,44,39,23-Oct-17,10:41:56,GDC,81.16,44,1
44,45,38,30-Oct-17,16:38:43,GDC,84.50,45,1
45,46,37,7-Nov-17,16:38:39,GDC,100.41,46,1
46,47,36,16-Nov-17,9:49:06,GDC,98.03,47,1
47,48,35,27-Nov-17,16:40:24,GDC,91.69,48,1
48,49,34,4-Dec-17,16:41:29,GDC,101.54,49,1
49,50,33,12-Dec-17,10:23:14,GDC,30.09,50,1

In [2]:
Sample = df_serial.head(50)

In [3]:
#Sample.to_csv('samplecreditcard.csv', index=False)